# https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.sdf
*.swp
*.ppm
*.obj
*.zip
*.mp4
*.txt

results/
models/
build/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
